*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background: #250821;
  overflow-x: hidden;
  overflow-y: hidden;
}
section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #250821;
}
.blob{
  position: absolute;
  width: 350px;
  height: 350px;
}
.blob:nth-child(2){
  filter: blur(35px);
}
